<h2>Perfil de Usuario</h2>
<p>Nombre: {{user.first_name}}</p>
<p>Nombre: {{user.last_name}}</p>
<p>Nombre: {{user.email}}</p>
<p>Nombre: {{user.age}}</p>

<form action="/api/sessions/logout" method="POST">
<button type="submit">Cerrar Sesion</button>
</form>